extends layout

block content
  .row
    .col-md-6
      .todolist.not-done
        h1 Todos
        form(ng-submit='createItem()')
          input.form-control.add-todo(type='text',
                                      placeholder='Add todo',
                                      ng-model='formData.title')
        button#checkAll.btn.btn-success Mark all as done
        hr
        ul#sortable.list-unstyled
          li.ui-state-default(ng-repeat='item in items')
            .checkbox
              label
                input(type='checkbox', value='', ng-model='item.complete', ng-change='itemChecked()')
                | {{ item.title }}
        .todo-footer
          strong
            span.count-todos
          |  Items Left
    .col-md-6
      .todolist
        h1 Already Done
        ul#done-items.list-unstyled
          li(ng-repeat='item in completeItems')
            | {{ item.title }}
            button.remove-item.btn.btn-default.btn-xs.pull-right
              span.glyphicon.glyphicon-remove
